<li>
  <div class="rest-item" data-id=<%= rest.id %> data-name="<%= rest.name %>">
    <%= rest.name %> - <%= rest.description %>
  <div />
  <button class="btn" id="edit-rest">Edit</button>
  <button class="btn" id="delete-rest">Delete</button>
</li>
